@model IEnumerable<WeatherDataDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<table style="align-items: center; width: 100%">
        <tr>
            <th>City</th>
            <th>Temperature</th>
            <th>Channel</th>
        </tr> 

        @foreach (var item in Model!)
        {
            <tr>
                <td>
                    @item.City
                </td>
                <td>
                     @item.Temperature ºC
                </td>
                <td>
                    @item.ReportedBy
                </td>
            </tr>
        }
    </table>


